[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypkg-template = {extras = ["dev"], file = ".", editable = true}

[dev-packages]
pytest-sugar = "*"
ipython = "*"
